body{
  font-size: 16px Sans-serif;
}
.b-accordion-section{
  color: rgba(255, 255, 255, 1);
}
.header-section-1, .sliding-section-1, .header-section-2, .sliding-section-2, .header-section-3, .sliding-section-3{
 padding: .8% 2%;
 margin: auto;
}
.header-section-1, .header-section-2, .header-section-3{
  font-weight: bold;
}
.section-1:hover, .section-2:hover, .section-3:hover{
  background: rgba(211,211,211,1);
}
.section-1, .section-3{
  background: rgba(25,138,176, 1);
}
.section-2{
  background: rgba(19,124,159,1);
}
div:checked + dt, div:checked + dt:hover{
	text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
	box-shadow:
		0px 0px 0px 1px rgba(155,155,155,0.3),
		0px 2px 2px rgba(0,0,0,0.1);
}
dt:hover:after, div:checked + dt:hover:after{
  content: '';
  position: absolute;
  width: 24px;
	height: 24px;
	right: 13px;
	top: 7px;
  background:url(../images/ic_keyboard_arrow_left_white_24dp_1x.png) no-repeat center center;
}
div:checked + dt:hover:after{
	background: url(../images/ic_keyboard_arrow_down_white_24dp_1x.png);
}
dt{
  position: relative;
  z-index: 20;
  display: block;
  cursor: pointer;
}
.material-icons{
  margin: 0 0 0 92.75%;
}
dd {
  display: none;
  overflow: hidden;
  height: 0px;
  position: relative;
  z-index: 10;
}
