body{
  font-size: 16px Sans-serif;
}
a:link{
  text-decoration: none;
  color: #C7C7C7;
  display: block;
  font-weight: bold;
}
.b-accordion-section{
  margin: 3% auto;
  width: 85%;
  height:20%;
  padding: 2%;
  background: #00616B;
  color: #C7C7C7;
  -webkit-transition:height 0.2s ease-out;
  -moz-transition:height 0.2s ease-out;
  -o-transition:height 0.2s ease-out;
  transition:height 0.2s ease-out;
}
.b-accordion-section:hover{
  background: #444;
}
.b-accordion-section:after{
  position: relative;
  color: #000;
  font-weight: bold;
}
.b-accordion-section:target{
  background: #008895;
  padding: 1%;
  height: 30%;
  width: 85%;

}
.b-accordion-section:target:hover{
  background: #008895;
}

.header-section, .sliding-section{
  padding: 0.5% 0.75%;
  text-align: center;
  border: 1%;
}
.header-section{
  position: relative;
}

.sliding-section{
  display: none;
}
