a:link{
  text-decoration: none;
  color: #C7C7C7;
}
.b-accordion-section{
  margin: 3% auto;
  width: 85%;
  padding: 2%;
  background: #00616B;
  color: #C7C7C7;
}
.b-accordion-section:hover{
  background: #444;
}
.b-accordion-section:after{
  position: relative;
  font-size: 24px;
  color: #000;
  font-weight: bold;
}
.b-accordion-section:target{
  background: #008895;
  padding: 1%;
}
.b-accordion-section:target:hover{
  background: #008895;
}

.b-accordion-section:nth-child(1):after{ content:'1'; }
.b-accordion-section:nth-child(1):after{ content:'2'; }
.b-accordion-section:nth-child(1):after{ content:'3'; }

.header-section, .sliding-section{
  padding: 0.5% 0.75%;
  text-align: center;
}
.header-section{
  text-decoration: none !important;
}
.sliding-section{
  display: none;
}
